[Desktop Entry]
Name=Tiny Crate
Comment=Crate-chucking action puzzler
Categories=Game;ArcadeGame;KidsGame;
Icon=net.hhoney.tinycrate
Exec=godot-runner
Type=Application
Terminal=false